<center><h1>ChromHMM Report</h1></center>
Input Directory: /media/Enbio/Christoph/PhD-Work_DataUScrips/BATH/minimalExample/4_chromHMM/out/output/ChromHMM_out/binarized_Bed/consolidated<br>
Output Directory: /media/Enbio/Christoph/PhD-Work_DataUScrips/BATH/minimalExample/4_chromHMM/out/output/ChromHMM_out/modle/5_states/learnModle_Consolidated<br>
Number of States: 5<br>
Assembly: mm39<br>
Full ChromHMM command: LearnModel -p 8 -nobrowser /media/Enbio/Christoph/PhD-Work_DataUScrips/BATH/minimalExample/4_chromHMM/out/output/ChromHMM_out/binarized_Bed/consolidated /media/Enbio/Christoph/PhD-Work_DataUScrips/BATH/minimalExample/4_chromHMM/out/output/ChromHMM_out/modle/5_states/learnModle_Consolidated 5 mm39
<h1>Model Parameters</h1>
<img src="emissions_5.png"><br>
<li><a href="emissions_5.svg">Emission Parameter SVG File</a><br>
<li><a href="emissions_5.txt">Emission Parameter Tab-Delimited Text File</a><br>
<img src="transitions_5.png"><br>
<li><a href="transitions_5.svg">Transition Parameter SVG File</a><br>
<li><a href="transitions_5.txt">Transition Parameter Tab-Delimited Text File</a><br><br>
<li><a href="model_5.txt">All Model Parameters Tab-Delimited Text File</a> <br>
<h1>Genome Segmentation Files</h1>
<li><a href="HC_5_segments.bed">HC_5 Segmentation File (Four Column Bed File)</a><br>
<li><a href="PC_5_segments.bed">PC_5 Segmentation File (Four Column Bed File)</a><br>
<h1>State Enrichments</h1>
<h2>HC_5 Enrichments</h2>
<img src="HC_5_overlap.png"> <br>
<li><a href="HC_5_overlap.svg">HC_5 Overlap Enrichment SVG File</a><br>
<li><a href="HC_5_overlap.txt">HC_5 Overlap Enrichment Tab-Delimited Text File</a><br>
<img src="HC_5_mm39TES_neighborhood.png"> <br>
<li><a href="HC_5_mm39TES_neighborhood.svg">HC_5_mm39TES_neighborhood Enrichment SVG File</a><br>
<li><a href="HC_5_mm39TES_neighborhood.txt">HC_5_mm39TES_neighborhood Enrichment Tab-Delimited Text File</a><br>
<img src="HC_5_mm39TSS_neighborhood.png"> <br>
<li><a href="HC_5_mm39TSS_neighborhood.svg">HC_5_mm39TSS_neighborhood Enrichment SVG File</a><br>
<li><a href="HC_5_mm39TSS_neighborhood.txt">HC_5_mm39TSS_neighborhood Enrichment Tab-Delimited Text File</a><br>
<h2>PC_5 Enrichments</h2>
<img src="PC_5_overlap.png"> <br>
<li><a href="PC_5_overlap.svg">PC_5 Overlap Enrichment SVG File</a><br>
<li><a href="PC_5_overlap.txt">PC_5 Overlap Enrichment Tab-Delimited Text File</a><br>
<img src="PC_5_mm39TES_neighborhood.png"> <br>
<li><a href="PC_5_mm39TES_neighborhood.svg">PC_5_mm39TES_neighborhood Enrichment SVG File</a><br>
<li><a href="PC_5_mm39TES_neighborhood.txt">PC_5_mm39TES_neighborhood Enrichment Tab-Delimited Text File</a><br>
<img src="PC_5_mm39TSS_neighborhood.png"> <br>
<li><a href="PC_5_mm39TSS_neighborhood.svg">PC_5_mm39TSS_neighborhood Enrichment SVG File</a><br>
<li><a href="PC_5_mm39TSS_neighborhood.txt">PC_5_mm39TSS_neighborhood Enrichment Tab-Delimited Text File</a><br>
